

#experience{
  max-height: 80vw;
  color:gray;
   /*background-image: url("../img/background/6.jpg");*/
background-color: white;
   background-repeat: no-repeat;


   background-size: cover;
   max-width: 100%;
    overflow: hidden;


}




.img-exp{

   min-height: 100px;
   min-width: 100px;
   background-image:url("../img/slide1/shadow2.png");
   z-index: 99;
   text-align: center;
   background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

   margin-top:100px;
   margin-bottom: 100px;

   }
