
#home{
   max-height: 40vw;
   /*background-image: url("../img/background/1.jpeg");*/
   background-position: fixed;
   background-repeat: no-repeat;
   background-color:rgba(0,0,0,.2);
   background-attachment: fixed;
   background-size: cover;
   max-width: 100%;
    overflow: hidden;

}

/*.well2{
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5), 6px 6px 20px 6px rgba(0, 0, 0, 0.5);


-webkit-text-align: center;
-moz-text-align: center;
  background-color:	#999999;
  background-image: radial-gradient(
      black, 	#111111
    );


       max-height: 600px;
       min-height:300px;
     color: gray;
      margin:10px 40px 10px 10px;

       padding:0px 40px 0px 40px  ;
       text-align: justify;
    -moz-text-align-last: center;

    text-align-last: center;



       border:none;
       border-radius: 1px;

}*/

/*@media screen and (max-height: 400px){*/
.carousel-img{
max-height: 40vw;
width: 100%;
overflow: hidden;
top: 0;
bottom: 0;
}


.text-block {
    position: absolute;
    max-width:350px;
    max-height: 50px;
    background-color: rgba(0,0,0,.8);;
    color: white;

    top:70%;
    margin-bottom:50px;

    margin-left: inherit;
}
/*}*/
/*.flex-init-setup {
     display: -webkit-box;
     display: -moz-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
 }
 .flex-ppal-setup {
     -webkit-flex-flow: column wrap;
     -moz-flex-flow: column wrap;
     flex-flow: column wrap;
     -webkit-justify-content: center;
     -moz-justify-content: center;
      }*/


      .img-circle{

         height: 50px;
         width: 50px;
         border-radius: 100px;
        margin-left: 30px;
         -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
         -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
         box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
         }

.heading{

 background-repeat: no-repeat;
   font-size: 36px;
  display: block;
  background-size: cover;
   margin: 10px;
   max-height: 50px;
 
  background-repeat: no-repeat;

   background-origin: content-box;

}
blockquote{
  font-family: 'Pacifico', cursive;

  color:#9F1322;
}

/*.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}*/
