

#experience{
  min-height: 33vw;

 background-color: rgba(246, 202, 26,1);"
position: relative;
}
.panel{

  margin: 130px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
}
.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;


}
.panel-default > .panel-footer {
    color: #fff;
    background-color: #47c8ed;
    display:none;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.panel-default i{
    font-size: 5em;
    }
